.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 100px;
}

.nav-links {
  display: flex;
  background-color: black;
  color: white;
  list-style: none;
  gap: 51px;
  margin: 0;
  padding: 0;
  font-size: var(--navbar-font-size);
  align-items: center;

}

.logo {
  font-size: 24px;
}

.contact-me {
  display: flex;
  border-radius: 30px;
  background-color: white;
  color: black;
  width: 200px;
  height: 80px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

